{% extends "base.html" %}

{% block title %}About Me{% endblock title %}

{% block content %}

<section class="h-screen flex items-center justify-center lg:mb-4 lg:ml-60 lg:mb-40 2xl:ml-80 2xl:mb-80">
   <div class="sm:grid-cols-1 lg:gap-10 lg:grid lg:grid-cols-2 2xl:grid-cols-2 2xl:gap-60">
        <div class="text-left ">
            <h1 class="text-[80px] font-medium text-white font-jost animate-typing overflow-hidden whitespace-nowrap">About Me</h1>
            <p class="2xl:pr-80 text-4xl text-white font-jostReg-light">Hi, my name is Anita Chu. I am an enthusiastic software developer dedicated to crafting impactful UI features.</p>
        </div>
        <div>
            <div class="grid absolute gap-x-6 gap-y-6 grid-cols-3">
                <div class="box-content h-20 w-20 p-4 border-4 rounded-full bg-white"><img src="static/images/c-sharp.png" /></div>
                <div class="box-content h-20 w-20 p-4 border-4 rounded-full bg-white"><img src="static/images/python.png" /></div>
                <div class="box-content h-20 w-20 p-4 border-4 rounded-full bg-white"><img src="static/images/js.png" /></div>
                <div class="box-content h-20 w-20 p-4 border-4 rounded-full bg-white"><img src="static/images/react.png" /></div>
                <div class="box-content h-20 w-20 p-4 border-4 rounded-full bg-white"><img src="static/images/html-5.png" /></div>
                <div class="box-content h-20 w-20 p-4 border-4 rounded-full bg-white"><img src="static/images/css-3.png" /></div>
                <div class="box-content h-20 w-20 p-4 border-4 rounded-full bg-white"><img src="static/images/git.png" /></div>
                <div class="box-content h-20 w-20 p-4 border-4 rounded-full bg-white"><img src="static/images/django.png" /></div>
                <div class="box-content h-20 w-20 p-4 border-4 rounded-full bg-white"><img src="static/images/letter-c.png" /></div>
            </div>
        </div>
   </div>
    <a href="{% url 'index' %}">
        <img src="static/images/cloud.png" class="w-[90px] h-[90px] absolute sm:left-10 sm:mt-20 lg:left-10 lg:mt-2 object-cover animate-bounce-slow" />
    </a>
    <a href="{% url 'projects' %}">
        <img src="static/images/cloud.png" class="w-[90px] h-[90px] absolute sm:right-10 sm:mt-20 lg:right-10 lg:mt-2 object-cover animate-bounce-slow" />
    </a>
</section>

{% endblock %}