{% extends "base.html" %}


{% block content %}
  <div class="bg-skyImage w-full h-full bg-no-repeat bg-cover bg-center">
    <div class="absolute ml-10 mt-10 animate-bounce-slow">
      <img src="static/images/sun.png" class="w-[90px] h-[93px]" />
      <p class="font-jost text-center text-white">Click Me</p>
    </div>
    <div class="h-screen flex justify-center items-center ">
      <div>
        <h1 class="text-8xl font-jost text-center text-white">BRINGING UI FEATURES TO LIFE</h1>
        <p class="text-4xl font-jost text-center text-white font-light">Brought to you by Anita Chu</p>
        <p class="text-4xl font-jost text-center text-white font-light">UI Developer/Software Developer</p>
      </div>
    </div>
  </div>
{% endblock %}